language: csharp
mono: none
dotnet: 2.0.3
sudo: false  # use the new container-based Travis infrastructure
osx_image: xcode9.1
os:
  - linux
  - osx
script:
  # CSharp
  - dotnet restore ./CSharp/src/Bedbrebo.sln
  - dotnet build ./CSharp/src/Bedbrebo.sln
  - dotnet restore ./CSharp/src/Domain/Bedbrebo.Domain.Core.UnitTests/Bedbrebo.Domain.Core.UnitTests.csproj
  - dotnet test ./CSharp/src/Domain/Bedbrebo.Domain.Core.UnitTests/Bedbrebo.Domain.Core.UnitTests.csproj
  # FSharp
  - dotnet restore ./FSharp/src/Bedbrebo.sln
  - dotnet build ./FSharp/src/Bedbrebo.sln
  - dotnet restore ./FSharp/src/Domain/Bedbrebo.Domain.Core.UnitTests/Bedbrebo.Domain.Core.UnitTests.csproj
  - dotnet test ./FSharp/src/Domain/Bedbrebo.Domain.Core.UnitTests/Bedbrebo.Domain.Core.UnitTests.csproj

branches:
  except:
    - gh-pages